<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/baseball"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseball"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiStoreDemo">
        <activity
            android:name=".MiStoreMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>